<div class="iconNav">
    <div class="container">
        <ul class="clearfix">
            <li>
                <a href="{:U('Info/index')}">
                    <i class="fa-server"></i>
                    <span>个人资料</span>
                </a>
            </li>
            <li>
                <a href="{:U('Info/pin')}">
                <i class="fa-cog"></i>
                <span>激活码管理</span>
            </a>
            </li>
            <li>
                <a href="{:U('Info/pai')}">
                <i class="fa-cogs"></i>
                <span>爱心码管理</span>
                </a>
            </li>
            <li>
                <a href="{:U('Myuser/index')}">
            <i class="fa-users"></i>
            <span>我的团队</span>
            </a>
            </li>

            <li>
                <a href="{:U('Myuser/xzzh')}">
            <i class="fa-tasks"></i>
            <span>团队记录</span>
            </a>
            </li>
            <li>
                <a href="{:U('Index/pdList')}">
            <i class="fa-user-plus"></i>
            <span>提供记录</span>
            </a>
            </li>
            <li>
                <a href="{:U('Index/gdList')}">
            <i class="fa-sitemap"></i>
            <span>接受记录</span>
            </a>
            </li>
            <li>
                <a href="{:U('Info/rwhistory')}">
            <i class="fa-tag"></i>
            <span>玖玖钱包</span>
            </a>
            </li>
            <li>
                <a href="{:U('Info/cwhistory')}">
            <i class="fa-square-o"></i>
            <span>奖励钱包</span>
            </a>
            </li>
            <li>
                <a href="{:U('Info/nwhistory')}">
            <i class="fa-sticky-note"></i>
            <span>总账钱包</span>
            </a>
            </li>
            <li>
                <a href="{:U('Index/news')}">
            <i class="fa-archive"></i>
            <span>网站公告</span>
            </a>
            </li>
            <li>
                <a href="{:U('Index/reg')}">
            <i class="fa-sun-o"></i>
            <span>注册新会员</span>
            </a>
            </li>
        </ul>

    </div>

</div>