
<div style="/*background-color: #003d74;border-bottom: 1px solid #dedede;margin-bottom: 20px;*/">
<div class="container" style="padding: 10px 5px;">
    <div id="userRank" class="pull-left">
      <span>您是ZC 众诚。可获得领导人奖!</span><br>      <div style="position: relative"> <font style="font-size:16px; font-weight:bold; color:#003d74;">{$userData['ue_theme']}</font>,级别-<font style="color:#FF0000">{$userData['levelname']}</font> ! 当月任务:<font style="color:#FF0000">0</font>次任务,已参与<font style="color:#FF0000">0</font>
次。</div>
	</div>
    <!-- <span style="color: #999;">推广链接：</span><input id="copy-num" style="width:350px;display:inline-block;color: #999;" type="text" value="{$tgurl}" class="form-control"> -->
    <div class="pull-right mt5 text-right" style="font-size: 11px;">
	<div style="font-size: 12px;">
	    TOTAL FUNDS:￥<php>echo number_format(mt_rand(239999999,269999999));</php>, MEMBERS:53977, NEW:2965
	</div>
	<div>
	    <strong class="mr5">
	    SERVER
	  </strong>
	  <span id="server_time_text">
	     <php>echo date('Y-m-d H:i:s');</php>
	  </span>
	  <strong class="mr5">&nbsp;LOCAL
	  </strong>
	  <span id="local_time_text"></span>
	</div>
    </div>
</div>
</div>